<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyen.easyenglish.mapper.essayMapper">
    <select id="getAllEssays" resultType="com.easyen.easyenglish.entity.essay">
        select * from essay
    </select>
    <select id="findByID" resultType="com.easyen.easyenglish.entity.essay">
        select * from essay where essay_id = #{essayId}
    </select>
    <select id="findByUser" resultType="com.easyen.easyenglish.entity.essay">
        select * from essay where user_id = #{userId}
    </select>
    <select id="findEssaysByTitle" resultType="com.easyen.easyenglish.entity.essay">
        SELECT * FROM essay WHERE (essay_id = #{essayId} AND essay_title LIKE CONCAT('%', #{essayTitle}, '%'))
    </select>
    <insert id="addEssay" parameterType="com.easyen.easyenglish.entity.essay">
        INSERT INTO essay (user_id, essay_title, essay_content, essay_requirements, upload_date, status)
        VALUES (#{user_id}, #{essay_title}, #{essay_content}, #{essay_requirements}, CURRENT_TIMESTAMP, #{status})
    </insert>
    <delete id="deleteEssay" parameterType="java.lang.Integer">
        DELETE FROM essay WHERE essay_id = #{essayId}
    </delete>
    <update id="updateEssay" parameterType="com.easyen.easyenglish.entity.essay">
        UPDATE essay
        SET
        status = #{status}
        WHERE essay_id = #{essay_id}
    </update>
</mapper>
